body {
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	min-width: 950px;
}

.container {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
}

header {
	text-align: center;
	width: 100%;
}

nav {
	font-weight: bold;
	background-image: url("pictures & logos/blacktile.jpg");
	background-repeat: repeat-x;
}

nav ul, footer ul {
	list-style-type: none;
	margin: 0px;
	padding: 20px, 0px;
}

nav li, footer li {
	display: inline;
	margin: 20px;
	text-transform: uppercase;
}

nav a {
	text-decoration: none;
	color: white;
}

nav a:hover{
	border-bottom: 5px solid lightgray:
}

main {
	text-align: center;
	color: #505E67;
	margin-bottom: 40px;
}

main h1 {
	font-weight: bold;
	letter-spacing: 0.5px;
	font-size: 2.2em;
	border-bottom: 1px dashed lightgray;
	margin-top: 50px;
}

main img {
	width: 70%;
	margin: auto;
	padding: 2px;
	border: 1px lightgray solid;
}

.customerBox {
	border: 2px lightgray outset;
	width: 60%;
	margin-bottom: 20px;
	border-radius: 10px;
}

.customerBox h1 {
	font-size: 1.2em;
	margin-top: 0;
	padding: 10px;
}

.customerBox p {
	padding: 0 10px;
}

.customerBox h2{
	border-top: 1px dashed lightgray;
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	text-align: right;
	padding-top: 5px;
	padding-right: 10px;
}

.floatLeft{
	margin-left: 15%;
	float: left;
}

.floatRight{
	margin-right: 15%;
	float: right;
}

.clearfloat {
	clear: both;
}

main table{
	border: 1px solid lightgray;
	margin: 0 auto;
	padding: 5ox;
	border-radius: 10px;
}

main th, main td {
	padding: 20px;
	border: 1px solid lightgray;
}

main th{
	background-color: #505E67;
	color: white;
	font-size: 1.2em;
}

main tr:nth-child(odd) {
	background-color: #E6E6E6;
}

footer {
	text-align: center;
	width: 100%;
	background-color: #232244;
	color: white;
}

footer a {
	color: white;
}

#contactUs{
	width: 150px;
	height: 30px;
	background-color: #26244B;
	text-align: center;
	padding-top: 10px;
	border-radius: 5px;
	position: fixed;
	bottom: 0;
	right: 0;
}

#contactUs a{
	text-decoration: none;
	color: white;
}









































